<h1>All subjects</h1>

<%=will_paginate%>
<%if @subjects.blank? %>
  <p>There are currently no subjects listed</p>
<%else%>
  <ul class="users">
    <%@subjects.each do |subject|%>
      <li>
        <%=link_to subject.name, subject%> |
        <%= link_to "delete", subject, :method => :delete, :confirm => "Are you sure?",
                                 :title => "Delete #{subject.name}"%>
      </li>
    <%end%>
  </ul>
  <p></p>
<%end%>
<%=will_paginate%>